@font-face {
    font-family: 'Open Sans Condensed';
    font-weight: 700;
    src: local('Open Sans Condensed'), url("/static/fonts/OpenSansCondensed-Bold.ttf") format("truetype");
}

@font-face {
    font-family: 'Open Sans Condensed';
    font-weight: 300;
    src: local('Open Sans Condensed'), url("/static/fonts/OpenSansCondensed-Light.ttf") format("truetype");
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 400;
    src: local('Open Sans'),url("/static/fonts/OpenSans-Regular.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
    font-family: Open Sans Condensed, Open Sans;
    font-size: 18px;
    color: white;
}
body {
    position: relative;
}
a {
    color: white;
    text-decoration: none;
}

aside {
    position: fixed;
    display: initial;
    width: 150px;
    overflow: visible;
    top: 0px;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(196, 196, 196, 1);
    background: rgba(51, 51, 51, 0.75);
    z-index: 3;
}

.sticky {
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.container {
    margin: 0 auto;
    max-width: 1110px;
    width: calc(100vw - 100px);
    overflow: hidden;
    position: relative;
}

.phone {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.05em;
    display: inline-block;
    align-self: flex-end;
    justify-self: flex-end;
    border-bottom: 2px solid #D1A954;
}

.links {
    display: flex;
    flex-direction: column;
    height: 205px;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 86px;
}

.line {
    border-right: 3px solid rgba(196, 196, 196, 1);
    height: 80px;
    margin: 40px 0;
}

.aside-text {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-weight: 700;
    text-transform: uppercase;
    color: rgba(196, 196, 196, 1);
    letter-spacing: 0.1em;
}

.header {
    background-image: url(/static/img/header.png);
    max-height: 1045px;
    height: 1045px;
}

.top_nav {
    padding-top: 51px;
    font-weight: 700;
    width: 824px;
    display: flex;
    justify-content: space-between;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

ul {
    list-style-type: none;
}

nav {
    display: flex;
    justify-content: space-between;
}

h1 {
    font-size: 64px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.desc {
    padding-top: 308px;
    max-width: 540px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.desc_inner {
    font-family: Open Sans;
    font-size: 14px;
    line-height: 150%;
}

.btn {
    text-align: center;
    letter-spacing: 0.1em;
    background-color: rgba(209, 169, 84, 1);
    text-transform: uppercase;
    padding: 15px;
    width: 160px;
    font-weight: 700;
    cursor: pointer;
}

.header_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header_info > img {
    height: 490px;
    width: 350px;
}

.wrap {
    position: relative;
    padding-top: 191px;
    padding-right: 100px;
    height: 570px;
    width: 370px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.img {
    position: relative;
    z-index: 3;
    height: 490px;
    width: 350px;
    object-fit: cover;
}

.img_shadow {
    position: absolute;
    bottom: 60px;
    right: 100px;
    z-index: 1;
    object-fit: cover;
    height: 490px;
    width: 350px;
}

.overlay {
    position: absolute;
    width: 350px;
    height: 490px;
    bottom: 60px;
    right: 100px;
    z-index: 1;
    background: rgba(209, 169, 84, 0.85);
    z-index: 2;
}

.slider_nav {
    display: flex;
    justify-content: space-between;
}

.slider_btn {
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    cursor: pointer;
}

.slider_btn > img {
    height: 16px;
    width: auto;
}

.slide {
    display: none;
}
article {
    background-color: rgba(51, 51, 51, 1);
}
.about {
    padding: 150px 0px;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 48px;
    letter-spacing: 0.1em;
    font-weight: 300;
    padding-bottom: 100px;
}

h2 > span {
    font-size: 48px;
    letter-spacing: 0.1em;
    font-weight: 300;
    color: #D1A954;
}

.desc2 {
    max-width: 445px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h3 {
    font-size: 21px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.flex-about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.stat_text {
    letter-spacing: 0.05em;
    font-size: 16px;
    font-weight: 700;
}

.stat_num {
    color: #D1A954;
}

.flex-about > img {
    height: 292px;
    width: 350px;
    align-self: center;
}

.stat {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.stat > img {
    height: 70px;
    width: 70px;
}

.image_slider {
    padding-bottom: 150px;
    padding-left: 150px;
}

.text-image {
    position: relative;
    text-align: center;
    font-weight: 700;
    width: 442px;
    height: auto;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 24px;
}

.text-image:hover>img ~ div {
    display: none;
}

.text-image:hover>img ~ img {
    display: block;
}

.top-left {
    position: absolute;
    top: 40px;
    left: 40px;
}

.bot-left {
    position: absolute;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    bottom: 40px;
    left: 40px;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.rating {
    padding-bottom: 150px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 80px;
}

.contacts {
    padding-top: 80px;
}

.address {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 30px;
    grid-row-gap: 25px;
}

.text-form {
    width: 180px;
    height: 35px;
    background: #444444;
    border: 1px solid #616161;
    box-sizing: border-box;
    text-indent: 10px;
    vertical-align: middle;
}

textarea {
    resize: none;
    width: 310px;
    height: 100px;
    background: #444444;
    border: 1px solid #616161;
    box-sizing: border-box;
    text-indent: 10px;
}

.grid-ta {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.flex-contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.lower {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    color: #989898;
    max-width: 390px;
}

.lower-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 80px;
}

input, textarea {
    font-family: Open Sans;
    font-size: 14px;
}

input:focus, textarea:focus {
    outline: none;
    box-shadow: 0 0 0 2pt #D1A954;
}

input::placeholder, textarea::placeholder {
    color: rgba(152, 152, 152, 1);
    font-size: 12px;
    font-family: Open Sans;
}

input::placeholder {
    transform:translate3d(0,-3px,0);
}

.btn:hover {
    background-color: #ebb442;
}

.btn:active {
    box-shadow: 0 0 0 0.5pt #D1A954;
}

footer {
    background-color: rgba(51, 51, 51, 1);
}

.border > p {
    padding: 30px 0px;
    font-family: Open Sans;
    font-size: 12px;
    line-height: 150%;
    color: rgba(152, 152, 152, 1);
}

.border {
    border-top: 1px solid #565656;
}

.swiper-slide {
    width: auto;
}